<%- include('partials/header.ejs')%>
    <form action="create-hero" method="post" autocomplete="off">
        
        <div class="input-group">
            <label>Name</label>
            <input type="text" name="name" required>
            
        </div>
        
        <div class="input-group">
            <label class="d-block">Description</label>
            <textarea name="desc" required rows="7" cols="110"></textarea>
        </div>
        
        <div class="input-group">
            <label>Origin*</label>
            <input type="text" name="origin">
        </div>
        
        <div class="slider-group">
            <div class="input-group flex-align">
                <label for="">Strength</label>
                <input type="range" name="strength" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Perception</label>
                <input type="range" name="perception" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Endurance</label>
                <input type="range" name="endurance" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Charisma</label>
                <input type="range" name="charisma" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Intelligence</label>
                <input type="range" name="intelligence" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Agility</label>
                <input type="range" name="agility" min="0" max="100">
                <span class="amount">50</span>
            </div>
            
            <div class="input-group flex-align">
                <label for="">Luck</label>
                <input type="range" name="luck" min="0" max="100">
                <span class="amount">50</span>
            </div>
        </div>
        
        <input type="submit" name="submit" value="Create Hero">
        
    </form>
    
<%- include('partials/footer.ejs')%>
