<%- include('partials/header.ejs')%>
    <h1>Super Squads</h1>
    <a href="/heroes">Go Back</a><br>
    <a href="/create-squad">Create New Super Squad</a><br>
    
    
<%- include('partials/footer.ejs')%>
